body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    /* font-optical-sizing: auto ;
    font-weight: 400;
    font-style: normal; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-cont {
    flex: 1;

}

.navbar {
    height: 5rem;
    background-color: white;
    /* margin-left: 1rem; */

}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
    margin-left: 1rem !important;

}

.nav-link {
    color: #222222 !important;
}

/* mainheading */
.main-heading {
    display: flex !important;
    align-items: center !important;

    height: 3rem !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.4rem;
}

.f-info-socials i {
    margin-right: 8px;
}

.f-info {
    text-align: center;
    align-items: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* .card-info{
    display: flex;
} */
/* card */


.card {
    border: none !important;
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
}

.card-img-top {
    border-radius: 1.2rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.all-Listings {
    display: flex;
    margin: auto !important;
}

.body-cont {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* new page */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    margin-right: 0.4rem;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

/* show page */

.show-img {
    background-size: contain !important;
    height: 30vh;
}

.show-btn {
    display: flex;
    padding: 0 !important;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* reviews */
.review {
    padding: 0 !important;
}

/* BookingButton */

.booking-btn {
    z-index: 10 !important;
    background-color: #fe424d !important;
    display: none !important;
}

.card:hover .booking-btn{
    opacity: 1;
    background-color: #fe424d;
    display: flex !important;
    position: absolute !important;
    border: none !important;
    align-self: flex-end !important;
    align-content: center !important;
    align-items: center !important;
    color: #ebebeb !important;
    border-radius: 0 0 14px 0 !important;
}
.booking-form{
    display: flex;
    justify-content: flex-end;

    z-index: 10;
}

.show-booking-btn{
    
    margin-left: 0.41rem !important;
    background-color: #fe424d !important;
}